<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidGames"
        tools:targetApi="31">

        <!-- MainActivity: Entry point of the app -->
        <activity
            android:name=".Activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MovingGame -->
        <activity android:name=".Activities.MovingGame.MovingGame" />

        <!-- Balatro -->
        <activity android:name=".Activities.Balatro.BalatroStart" />
        <activity android:name=".Activities.Balatro.BalatroDeckSelection" />
        <activity android:name=".Activities.Balatro.BalatroBlind" />
        <activity android:name=".Activities.Balatro.BalatroField" />
        <activity android:name=".Activities.Balatro.BalatroWin" />
        <activity android:name=".Activities.Balatro.BalatroShop" />
        <activity android:name=".Activities.Balatro.BalatroGameOver" />

        <!-- HowTo Activity -->
        <activity
            android:name=".Activities.MovingGame.MovingGameHowTo"
            android:exported="true" />

    </application>

</manifest>
